<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cityview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"  android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Splash Screen -->
        <activity
            android:name=".CitySplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- About Screen Activity -->
        <activity
            android:name=".AboutScreen"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize" />
        <!-- Loading Screen Activity -->
           <activity
            android:name=".ProgressScreen"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize" />
		 <!-- Main Activity -->
		    <activity
            android:name=".VideoPlayback"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize" />
        
        
    </application>

</manifest>
